* {
    box-sizing: border-box;
}
html {
    font-size: 13px;
    font-family: sans-serif;
    /* color: tomato; */
}
body {
    margin: 0;
    background: #f6f6f6;
}
.row {
    display: block;
    font-size: 0;
}
.col, 
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-11 {
    width: 91.66666666666%;
}

.col-12 {
    width: 100%;
}
.nav {
    background: #ffffff;
    height: 50px;
    box-shadow: 0.5px 0.5px 4px #aaaaaa;
}
.logo,.cat {
    display: inline-block;
}
.cat {
    margin-top: 9px;
}
.cat a {
    display: inline-block;
    color: #444444;
    font-size: 1.2rem;
    padding: 5px 15px;
}
.cat a:hover {
    color: #0e0bd3;
}
.search-area {
    margin-top: 8px;
}
.search-area .search,
.search-area .submit {
    display: inline-block;
    padding: 9px;
    line-height: 1.1;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 4px;
}
.search-area .search {
    outline: 0;
    width: 260px;
    background: #f6f6f6;
}
.search-area .search:focus {
    border-color:rgba(0, 0, 0, .6);
}
.search-area .submit {
    background: #0084ff;
}
.search-area .submit:hover {
    background: #0077e6;
}
.icon {
    margin-top: 15px;
}
.icon {
    display: inline-block;
    margin-right: 20px;
}
.main-content {
    background: #ffffff;
    height: 50px;
    box-shadow: 0.5px 0.5px 4px #aaaaaa;
    margin-top: 7px;
}
.tool,.sub-tool {
    color: #1a1a1a;
    display: inline-block;
    padding: 15px 10px;
}
.tool a,
.sub-tool a {
    color: #1a1a1a;
    margin-right: 30px;
    font-size: 1.2rem;
}
/* .sub-tool a {
    margin-left: 191px;
} */
.tool-area .sub-tool a {
    position: relative;
    right: -150px;
}
/* .top {
    padding: 10px 20px;
} */
.top {
    margin-top: 10px;
}
.top a {
    font-size: 0.9rem;
}
.top .no-inter {
    position: relative;
    left: 181px;
}
.top .user {
    margin-top: 10px;
}
.top .user a {
    font-weight: bolder;
    font-size: 1.2rem;
}
.top .user span {
    color: #646464;
    font-size: 0.9rem;
}
.center {
    margin-top: 10px;
}
.center .title {
    font-weight: bolder;
    font-size: 1.5rem;
    /* margin-top: 10px; */
}
.center .main {
    margin-top: 10px;
}

.content {
    background: #ffffff;
    /* height: 250px; */
    box-shadow: 0.5px 0.5px 4px #aaaaaa;
    margin-top: 7px;
    padding: 15px;
}
.button-top,
.button-bottom {
    /* padding: 10px; */
    background: #e5f2ff;
    padding: 5px 10px;
    color: #0084ff;
    border-radius: 4px;
}
.button-top:hover,
.button-bottom:hover {
    background: #d9edff;
    cursor: pointer;
}
.user-action {
    color: #8590a6;
    padding-top: 5px;
}
.user-action > * {
    margin-left: 15px;
    cursor: pointer;
}
.others .shortcut {
    background: #ffffff;
    /* height: 250px; */
    box-shadow: 0.5px 0.5px 4px #aaaaaa;
    margin-top: 7px;
    padding: 15px;
    /* padding-left: 30px; */
    margin-left: 15px;
    color: #8590a6;
}
.others .shortcut .col-4 {
    text-align: center;
}
.others .shortcut .col-4 a{
    color: #8590a6;
}
.sidebar {
    background: #ffffff;
    /* height: 250px; */
    box-shadow: 0.5px 0.5px 4px #aaaaaa;
    margin-top: 7px;
    padding: 15px;
    /* padding-left: 30px; */
    margin-left: 15px;
    color: #8590a6;
    text-align: left;
}
.sidebar a{
    display: inline-block;
    color: #8590a6;
    font-size: 1.1rem;
    padding-left: 8px;
    margin: 10px 5px;
}
.terms {
    margin: 10px 20px;
    color: #aaaaaa;
    
}
.terms div  a {
    color: #aaaaaa; 
}
.terms div > a::after {
    content: "·";
}
.terms  div {
    margin-top: 10px;
}