/* span{
    color: white;
    background: tomato;
    border:pink;
}
.first{
    background: tomato;
    font-weight:bold;
}
.second{
   background: slateblue;
}
.first,.second{
    font-weight: bold;
} */
/* @import url("./mainzx.css"); */
/* .a .a1{
    color: salmon;
    background:red;
} */
/* div a {
    color: purple;
} */
/* yo */
/* ul {
    color: tomato;
}
li {
    color: orange;
} */
