body {
    background: url(../img/event_background.png);
}
h1 {
    margin-top: 50px;
    padding-top: 50px;
}
.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* background: #FCFAF2; */
    background: rgba(252, 250, 242, .8);
   
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 2px 3px 10px 5px #ddd;
}
.header {
    text-align: center;
}